%p
  Digite o texto abaixo para classificá-lo
  %form{:name => "classificar", :method => "POST", :action => ""}
    %textarea{:name => "texto", :cols => "100", :rows => "20"}
    %br
    %input{:type =>"submit", :value =>"classificar"}
